.musicPlayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:aliceblue;
    gap:7px;
}

.musicPlayer p {
    font-size: clamp(0.875rem, 1.5vw, 1.213rem);
}

/***   SIDEBAR OPEN   ***/ 
/*Song Display*/
.currentSong{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.currentSong img{
    width: clamp(186px, 20vw, 258px);
    height: clamp(186px, 20vw, 258px);
}

.currentSong h1{
    margin: 0;
    padding-top: 10px;
    font-size: clamp(27.9px, 3vw, 38.7px);
    text-align: center;
}


/*Slider*/
.sliderControl{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 130%;
    gap: 10px;
}

.seekSlider{
    width: clamp(279px, 30vw, 388.2px);

    -webkit-appearance: none; /*Removes default browser style*/
    -moz-appearance: none; /*Removes default browser style*/
    appearance: none; /*Removes default browser style*/
    background: none;
    cursor: pointer;
}

.seekSlider::-webkit-slider-runnable-track{
    height: clamp(4.65px, 0.5vw, 6.47px);

    background-color: aliceblue;
    opacity: 75%;
    border-radius: 20px;
    cursor: pointer;
}

.seekSlider::-moz-range-track{
    height: clamp(4.65px, 0.5vw, 6.47px);

    background-color: aliceblue;
    opacity: 75%;
    border-radius: 20px;
}

.seekSlider::-webkit-slider-thumb{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-color: white;
    width: clamp(20px, 2vw, 27px);
    height: clamp(20px, 2vw, 27px);
    margin-top: clamp(-8px, 0.8vw, -10px);
    border-radius: 50%;
    border: 3px solid #9b4ba7;
}

.seekSlider::-moz-range-thumb{
    background-color: purple;
    width: 20px;
    height: 20px;
    margin-top: -0.8vw;
    border-radius: 50%;
    border: 1px solid black;
}

/*Buttons*/
.musicControl{
    display:flex;
    flex-direction: row;
    gap: clamp(37.2px, 4vw, 51.6px);
    padding-top: 1vw;
    
}

.musicControl button{
    background-color: transparent;
    border-color: transparent;
}

.controlButton{
    width: clamp(27.9px, 3vw, 38.81px);
    height: clamp(27.9px, 3vw, 38.81px);
    cursor: pointer;
}

.playButton{
    width: clamp(46.5px, 5vw, 64.7px);
    height: clamp(46.5px, 5vw, 64.7px);
    cursor: pointer;
}

/*Volume*/
.volumeControl{
    display: flex;
    flex-direction: row;
    gap: 0.5vw;   
}

.volumeControl button{
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

.volumeSlider{
    width: clamp(139.5px, 15vw, 193.5px);

    -webkit-appearance: none; /*Removes default browser style*/
    -moz-appearance: none; /*Removes default browser style*/
    appearance: none; /*Removes default browser style*/
    background: none;
    cursor: pointer;
}

.volumeSlider::-webkit-slider-runnable-track{
    height: clamp(2px, 0.5vw, 4px);

    background-color: rgb(115, 115, 115);
    opacity: 75%;
    border-radius: 20px;
}

.volumeSlider::-webkit-slider-thumb{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-color: rgb(195, 195, 195);
    width: clamp(10px, 1.2vw, 16px);
    height: clamp(10px, 1.2vw, 16px);
    margin-top: clamp(-6px, -0.5vw, -3px);
    border-radius: 50%;
}



@media (min-height: 700px){
    /***   SIDEBAR CLOSED   ***/ 
    /*Song Display*/
    .tabClosedPlayer p{
        font-size: clamp(18.24px, 2vw, 21.84px);
    }

    .tabClosedSong img{
        width: clamp(274px, 30vw, 327px);
        height: clamp(274px, 30vw, 327px);
    }

    .tabClosedSong h1{
        font-size: clamp(36.48px, 4vw, 43.86px);
    }

    /*Slider*/
    .tabClosedSeekSlider{
        width: clamp(364.8px, 40vw, 436.8px);
    }

    .tabClosedSeekSlider::-webkit-slider-runnable-track{
        height: clamp(7.29px, 0.8vw, 8.73px);
    }

    .tabClosedSeekSlider::-moz-range-track{
        height: clamp(7.29px, 0.8vw, 8.73px);
    }

    .tabClosedSeekSlider::-webkit-slider-thumb{
        width: clamp(23px, 2.5vw, 28px); 
        height: clamp(23px, 2.5vw, 28px);
        margin-top: clamp(-10px, 0.8vw, -8px); /*-8px */
    }

    /*Buttons*/
    .tabClosedControl{
        gap: clamp(54.72px, 6vw, 65.52px);
    }

    .tabClosedButtonControl{
        width: clamp(36.48px, 4vw, 43.68px);
        height: clamp(36.48px, 4vw, 43.68px);
    }

    .tabClosedButtonPlay{
        width: clamp(63.84px ,7vw, 78.4px);
        height: clamp(63.84px ,7vw, 78.4px);
    }

    /*Volume*/
    .tabClosedVolumeSlider{
        width: clamp(227px, 25vw, 273px);
    }

    .tabClosedVolumeSlider::-webkit-slider-runnable-track{
        height: clamp(4px, 0.5vw, 6px);
    }

    .tabClosedVolumeSlider::-webkit-slider-thumb{
        width: clamp(14px, 1.5vw, 17px); /*17px*/
        height: clamp(14px, 1.5vw, 17px);
        margin-top: clamp(-6px, 0.5vw, -5px); /*-5px*/
    }
}

@media(max-width: 500px){
    .currentSong h1 {
        font-size: 6vw;
    }

    .volumeSlider{
        width: 30vw;
    }
}

@media(max-width: 500px) and (min-height: 700px){
    .musicPlayer p {
        font-size: 4vw;
    }

    .currentSong h1 {
        font-size: max(24px, 7vw);
    }

    .currentSong img{
        width: max(50vw, 180px);
        height: max(50vw, 180px);
    }

    .volumeSlider{
        width: 35vw;
    }

    .controlButton{
        width: 9vw;
        height: 9vw;
    }

    .playButton{
        width: 12vw;
        height: 12vw;
    }

    .musicControl{
        gap: 10vw;
    }
}




