.fullTab{
    display: flex;
    flex: row;
}

.playlistCollapse{
    background: none;
    border: none;
    cursor: pointer;
}

.playlistCollapse img{
    width: 5vw;
    height: 10vw;
}

.fullList{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 40vw;
    background-color: black;
    overflow: auto;
}

.playlistHead{
    padding-top: 5px;
    padding-left: 10px;
    font-size: 2vw;
}

.songButton{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid gray;
    background: none;
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    gap: 10px;

    cursor: pointer;
}

.songImage img{
    width: 7vw;
    height: 7vw;
}

.songInfo{
    font-size: 1vw;
    text-align: left;
}
