.fullList{
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* or whatever size you want */
    width: 40vw;
    background-color: black;
}

.songButton{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid gray;
    background: none;
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    gap: 10px
}

.songImage img{
    width: 70px;
    height: 70px;
}

.songInfo{
    font-size: 10px;
    text-align: left;
}
