.fullTab{
    display: flex;
    flex: row;
}

.playlistCollapse{
    background: none;
    border: none;
    cursor: pointer;
}

.playlistCollapse img{
    width: clamp(46.4px, 5vw, 64.6px);
    height: clamp(92.8px, 10vw, 129.1px);
}

.fullList{
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 40vw;
    background-color: black;
    overflow: auto;
}

.playlistHead{
    padding-top: 5px;
    padding-left: 10px;
    font-size: 2vw;
}

.songButton{
    color: aliceblue;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid gray;
    background: none;
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    gap: 10px;

    cursor: pointer;
}

.songImage img{
    width: 7vw;
    height: 7vw;
}

.songInfo{
    font-size: 1vw;
    text-align: left;
}

@media(max-width: 700px){
    .fullList{
        width: 90vw;
    }

    .playlistHead{
        font-size: 3vw;
    }

    .songImage img{
        width: 13vw;
        height: 13vw;
    }

    .songInfo{
        font-size: 2vw;
        text-align: left;
    }
}

@media(max-width:500px){
    .playlistCollapse img{
        width: max(34.2px, 9vw);
        height: max(70.3px, 18.5vw);
    }
    
    .fullList{
        width: 80vw; /*280px*/
    }

    .playlistHead{
        font-size: 4vw;
    }

    .songImage img{
        width: max(18vw, 70px);
        height: max(18vw, 70px);
    }

    .songInfo{
        font-size: max(2vw,8px);
        text-align: left;
    }


}


