*{
  margin: 0;
  padding: 0;
}

.playScreen{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 10px;
}

.tabClosed{
  gap: 15vw;
}

.musicPlayer{
  width: 60vw
}

.songList{
  width: 40vw;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #341938bd;
}

