*{
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

.playScreen{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 100dvh;
  gap: 10px;
}

.tabClosed{
  gap: 15vw;
}

.musicPlayer{
  width: 60vw
}

.songList{
  width: 40vw;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #341938bd;
}

@media(max-width: 700px){
  .playScreen{
    display: block;
    position: relative;
  }

  .musicPlayer{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .fullTab{
    position: absolute;
    z-index: 2;
    right: 0;
    top: 44%;
  }

  .mobileOpenedTab{
    top: 0;
  }
}
